In [153]:
largest = None
smallest =None
a=[]
while True:
    num=input("enter the number")
    if(num=="done"):
        break
    try:
        number=int(num)
    except:
        print("Invalid input")
        continue
    if largest is None:# is as treat as ==
        largest=number
    elif(number >largest):
           largest=number
    elif smallest is None:
        smallest=number
    elif(number<smallest):
        smallest=number
print("Maximum is",largest)
print("Minimum is",smallest)

enter the number2
enter the number3
enter the number43
enter the number23
enter the number43
enter the number23
enter the number434
enter the numberdone
Maximum is 434
Minimum is 23

In [16]:
#  by using this i will get the index number of value ,and i will check whether value is present or not in the list

a=[1,2,3,4,5,'deepak',6]
b=int(input())
count=0
for i in range(len(a)):
    if b==a[i]:
        print(f"the value is present  and the index of {a[i]} value is {count}")
    else:
        count=count+1

3
the value is present  and the index of 3 value is 2

In [11]:
a=[12,3,2,4,32,3]
def max(value):
    print(value)
    maximum=value[0]
    for i in range(1,len(value)):
        if(value[i]>maximum):
            maximum=value[i]
        #else:
         #   pass
    return maximum
result=max(a)
print(f" the maxim value from the above resultis {result}")

[12, 3, 2, 4, 32, 3]
 the maxim value from the above resultis 32

In [20]:
z,b,c=1,"deepak",20.4   # this is how i can declare multiple value at single line
print(z)

1

In [43]:
class A:
    def m(self,a,b):
        return a+b
a=A()
result=A.m(a,20,30)   # this is how it works,class A ke andar m methd hai na,so class name.methodname(instance of class,value1,value2)
print(result)

50

In [96]:
# two check which element is missing from both

In [83]:
a="deepak"
a[0:len(a):2]

'dea'

In [90]:
print(k)
print(c)

[10, 20, 30]
[20, 30, 40]

In [85]:
a="deepak"
a[-4:-1:2]    # in the reverse form ,as we know,-4 sey start hoga,-1 takh jayega and the difference will be of 2

'ea'

In [95]:
def findElements(lst1, lst2): 
    return [lst1[i] for i in lst2] 
              
# Driver code 
lst1 = [10, 20, 30, 40, 50] 
lst2 = [0, 2, 4] 
print(findElements(lst1, lst2))

[10, 30, 50]

In [18]:
def information(value1,value2):
    new=[]
    print(value1,value2)
    for i in range(len(value1)):
        for j in range(len(value2)):
            if(value1[i]==value2[j]):
                new.append(value1[j])
    
    print("common value in both is :" ,new)       

a=[10,20,30]
b=[40,20]
information(a,b)

[10, 20, 30] [40, 20]
common value in both is : [20]

In [23]:
arr=[1,2,3,4,'depak']
arr2=[2,3,4,5,67,6]
newlist=[arr,arr2]  # this is used to make a bigger list inside which this both list wil be ppresent

In [24]:
print(newlist)

[[1, 2, 3, 4, 'depak'], [2, 3, 4, 5, 67, 6]]

In [29]:
# and to concatinate two list i wil use + for concatinating
con=arr+arr2
print(con)
con[::-1]   # by doing this i wil get the reverse of list

[1, 2, 3, 4, 'depak', 2, 3, 4, 5, 67, 6]

[6, 67, 5, 4, 3, 2, 'depak', 4, 3, 2, 1]

In [34]:
a=(2,3,4,2,3,4,5,3,4,45,65)
v=dict.fromkeys(a)
tuple(v)

(2, 3, 4, 5, 45, 65)

In [41]:
a="DEPk"
list(a)

['D', 'E', 'P', 'k']

In [42]:
b=[22,222,'deepak',"defreg",222,"dede2222","22222"]
new=list(map(str,b))  # map sey used karunga,map take 2 argument,1 fun,2 value

In [44]:
# join marunga,join karunga jidhar blank space hai ussee join karo list ko

In [47]:
m=''.join(new)
m.count('2')

17

In [50]:
a=["depak","cong","khetwal"]
a[-3::1]    # minus sey lenge toh pehle lunga,minue mai -1 sey index chlu hota hai,from right to left

['depak', 'cong', 'khetwal']

In [56]:
for i in a:
    if "cong" in i:
        print("present")
        print(a.index("cong"))

present
1

In [72]:
from array import *
a=array('i',[1,2,3,4,5,7,7])
b=array(a.typecode,[b for b in a])
print(b)
id(a)

array('i', [1, 2, 3, 4, 5, 7, 7])

118102688

In [76]:
b[2]=30
print(a)

array('i', [1, 2, 3, 4, 5, 7, 7])

In [77]:
print(b)

array('i', [1, 2, 30, 4, 5, 7, 7])

In [85]:
a=" hdh fef"
a.split(' ')   # using of split in a string

['', 'hdh', 'fef']

In [98]:
a=(10,20,30,10,20)
a.index(10)

0

In [ ]:
# >>>>>>>>>>>>>>>>>>>>>>..   SET EXAMPLE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

In [158]:
a={1,2,3,5,6,3}
print(a)
b={1,3,5,4,101,10,21}
print(b)
newset=a.union(b) # it will take only one element,and create new set from both set .it will not take the repeated number
print(newset)

{1, 2, 3, 5, 6}
{1, 3, 4, 101, 5, 10, 21}
{1, 2, 3, 4, 5, 6, 101, 10, 21}

In [159]:
a={1,2,3,5,6,3}
b={1,3,5,4,101,10,21}
a.difference(b)  # it will check ki a mai sey kon kon sey element b mai nhi hai,.jaise a ka 1 hai b mai, and a ka 2 nhi hai,so 2 will get print

{2, 6}

In [160]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}   # using symmetric differnc it will give only unique element from both set

z = x.symmetric_difference(y) 

print(z)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
# >>>>>>>>>>>>>>>>>>>>>>>>>>>   Dictionary <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

In [110]:
dictionary={"name":"deepak",
           "Surname":"khetwal",
           "age":23}

In [115]:
print(dictionary)
for i in dictionary:   # by using this it will give the key of dictionary
    print(i)

{'name': 'deepak', 'Surname': 'khetwal', 'age': 23}
name deepak
Surname khetwal
age 23

In [116]:
# if i want only to print the values of set than i wil used
for i in dictionary.values():   # one way
    print(i)

deepak
khetwal
23

In [117]:
# 2nd way
for i in dictionary:  # as we know in the i it will tke key,so by the below condition i can take it
    print(dictionary[i])

deepak
khetwal
23

In [125]:
a=[1,2,3,4,'r']
for i in a:
    print(i)

1
2
3
4
r

In [128]:
di={1:'deepak','khetwal':2}
print(di)
di2=di

{1: 'deepak', 'khetwal': 2}

In [129]:
print(di2)

{1: 'deepak', 'khetwal': 2}

In [130]:
di[1]='hello'  # as i make change in it ,but it get refect to all,so to avoid this i will be using the copy method

In [131]:
print(di2)

{1: 'hello', 'khetwal': 2}

In [134]:
dinew=di.copy()   # di ko copy kareyga dinew, and both wil be independt

In [139]:
print(dinew)
dinew[1]='new change'
print(dinew)    # look only this get chnge,not other get reflected
print(di)   # the value of di not get chage

{1: 'new change', 'khetwal': 2}
{1: 'new change', 'khetwal': 2}
{1: 'hello', 'khetwal': 2}

In [156]:
a=(1,2,3,4,5)
b=a

AttributeError: 'tuple' object has no attribute 'copy'

In [21]:
a={1:2,2:{'name':{'deepak':'khetwal'}},3:[10,20,30]}
print(a[2]['name']['deepak'])
print(a[3])

khetwal
[10, 20, 30]

In [26]:
from array import *
a="deepak"
print(a[::-1])
a=array('i',[1,2,3,4])  # as i know reverse is a method of array and list
a.reverse()
print(a)

kapeed
array('i', [4, 3, 2, 1])

In [2]:

# add element in the array 

from array import *
arr=array('i',[])
n=int(input("enter the length"))
for i in range(n):
    y=int(input())
    arr.append(y)
print(arr)

enter the length3
12
2
3
array('i', [12, 2, 3])