In [1]:
#  strip simply we can sae removing, if i want to remove paticular word or characters from the string
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")   # strip will reemove all the 'string ' which is mentioned insde the condition

print(x)

banana

In [5]:
# to convert first character of each word  Upper case

txt = "Welcome to my world"

x = txt.title()

print(x)

new="this is 23age"  # as we said only character will get COnvert it into Upper case no number
new.title()

Welcome To My World

'This Is 23Age'

In [3]:
a="hihihi"
a.upper()

'HIHIHI'

In [4]:
a="dEEPAK"
a.lower()

'deepak'

In [7]:
a='dee'
a.replace('d','')

'ee'

In [9]:
# if i want to replace first occurace only not the second occurance,so how
a="deepak is a good boy, deepak works in a mnc company"
a.replace('deepak','',1)  # as replcae will take 3 argument,
# 1 :-> kisko replace karna hai
# 2 :-> kise replace karna hai
# 3 :-> and kitne usmai replace karna hai,for eg pehle mai 1 likha hai so ,only 1 hi replace hoga

' is a good boy, deepak works in a mnc company'

In [12]:
 a.replace("deepak",'khetwal',2) # 2 likha hai toh 2 baar replace hoga,mean 2 jagh jha condition mileyga udhr

'khetwal is a good boy, khetwal works in a mnc company'

In [25]:
import array
new=array.array('i',[10,20])
print(new)

second=array.array(new.typecode,[second for second in new])  # this is how we copy one array to another in the array

array('i', [10, 20])

In [26]:
print(second)

array('i', [10, 20])